body {
	background-color: black;
	text-align: center;
}

h1 {
	color: lightblue;
	text-decoration: underline;
}

p.white {
	color: white;
}

#lblue {
	color: lightblue;
	font-weight: bold;
}

